<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplus">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplus"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".home.home_activity"
            android:theme="@style/Theme.Aplus"
            android:label="@string/title_activity_home_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".login.fragments.LoginActivity"
            android:theme="@style/Theme.Aplus"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".login.fragments.forgotPassword"
            android:theme="@style/Theme.Aplus"
            android:label="ForgotPassword">
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>